.game{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}   
.explore{
    height: 399px;
    width: 300px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    border-radius: 20px;
    background-color: rgba(255, 221, 0, 0.641);
}
.explore p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: linear-gradient(0deg, rgba(254,82,8,1) 0%, rgba(178,67,11,0.7624299719887955) 35%, rgba(255,179,0,0) 100%);
}
.explore:hover p{
    background: transparent;
    font-size: 2rem;
    transition-duration: 1s;
}
